<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Spend Money</title>
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="shortcut icon" href="{% static "favicon/favicon.ico" %}" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="gates_container">
            <img id="gates" src="{% static "images/billgates.jpg" %}" alt="BillGates" title="Bill Gates">
            <h1>Spend Bill Gates' Money</h1>
        </div>
        <div class="total_money_container">
            <div id="total_money" >$10000000000</div>
        </div>
        <div  class="product_container_row">
            {% for item in items %}
            <div class="product_container">
                <img src="{{ item.picture.url }}" alt="{{item.name}}" title="{{item.name}}">
                <h2>{{item.name}}</h2>
                <p>${{item.price}}</p>
                <button  id="{{item.id}}-s" disabled class="sell" onclick="remove_one('{{item.id}}')">Sell</button>
                <input type="number" id="{{item.id}}" placeholder="0" min=0 onkeyup=update_money('{{item.id}}')>
                <button id="{{item.id}}-b"  class="buy" onclick=add_one('{{item.id}}')>Buy</button>
            </div>
            {% endfor %}
        </div>

        <script>
            const quant= {
                {%for item in items%}
                    {{item.id}}:[0,{{item.price}}],
                {% endfor %}
            };
            console.log(quant);
            function add_one(i){
                let ele = document.getElementById(i);
                ele.value=Number(ele.value)+1;
                update_money(i);
            }
            function remove_one(i){
                let ele = document.getElementById(i);
                ele.value=Number(ele.value)-1;
                update_money(i);
            }
            function update_money(i){
                let money_element = document.getElementById('total_money');
                let money_str = money_element.innerHTML;
                let money = Number(money_str.split('$')[1]);
                let ele = document.getElementById(i);
                if(ele.value==0){
                    document.getElementById(i+'-s').disabled = true;
                }
                if (ele.value>0) {
                    document.getElementById(i+'-s').disabled=false;
                }
                money = money+(quant[i][0]*quant[i][1]);
                money = money-(ele.value*quant[i][1]);
                if(money<0){
                    return;
                }
                quant[i][0]=ele.value;
                {% for item in items %}
                    if ({{item.price}}>money) {
                        document.getElementById('{{item.id}}'+'-b').disabled = true;
                        document.getElementById('{{item.id}}').max = quant['{{item.id}}'][0];
                        console.log(quant['{{item.id}}'][1]);
                    }
                    if ({{item.price}}<=money) {
                        document.getElementById('{{item.id}}'+'-b').disabled = false;
                    }
                {% endfor %}
                money_element.innerHTML = '$'+String(money);
                console.log(money);
            }
        </script>
    </body>
</html>
